html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
a 
{
	text-decoration: none;
}
@font-face{
	font-family: 'Baloo Paaji', cursive;
	font-family: Prompt;
	src: url(https://fonts.googleapis.com/css?family=Baloo+Paaji);
	src:url(https://fonts.googleapis.com/css?family=Prompt:100,200,300,400,500,700);
}

header{
	max-width: 100%;
	height: 100px;
	background-color: #196C86;
	

}

.logo{
	display: block;
	font-family: 'Baloo Paaji', cursive;
}

.blanco{
	font-family: Prompt;
	color: #FFFFFF;
	font-size: 35px;
	display: inline-block;
	margin-left: 3px;
	
}
.rosa{
	font-family: Prompt;
	color: #F65D60;
	font-size: 35px;
	display: inline-block;

}
.menu{
	font-family: Prompt;
	
	text-align: center;
	display: inline-block;
	float: right;
	margin-top: -40px;
	padding: 10px;
}

section {
	width: 100%;
	height: 25%;
}

.conejo1{
	background-image: url(../img/conejo-1.jpg);
	max-width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	margin-left: 12%;
}
.cuadro-central{
	height: 300px;
	width: 60%;
	border:solid 1px #196C86;
	background-color: #196C86;
	padding: 10%;
	margin:0 auto;
}
/*seccion jo*/
#j{
	background:#ffffff;
}
.jcuentos{/*row jo*/
	padding-top: 2%;
	margin-left: 17%;
}

.jcone{
	display: inline-block;
	margin-right: 0;
}

.jcone img{
	max-width: 100%;
	height: 130px;
	/*float:left;*/
	margin:auto;
	display: block;
}
.jconejo h5{
	color:#ff7673;
	font-family: Prompt;
}
.jconejo p{
	font-family: Prompt;
	line-height: 160%;
	font-size: 13px;
}
.jconejo{
	text-align: center;
	color: #FFF;
	clear: both;
	/*position:absolute; /*El div será ubicado con relación a la pantalla*/
	left:0px; /*A la derecha deje un espacio de 0px*/
	right:0px; /*A la izquierda deje un espacio de 0px*/
	bottom:0px; /*Abajo deje un espacio de 0px*/
	height:100px; /*alto del div*/
	z-index:0;
	
	background-color: #037f99;
	max-width: 87.3%;
	height: 250px;
	padding: 5% 3% 5% 3%;
}
/*paula*/

.conejo3 {
	background-color: #196C86;
	width: 71%;
	height: 900px;
	margin-left: 12%;

}

.izquierda {
	width: 50%;
	background-color:#EBF7FB;
	margin:2%;
	
}

.conejito1 {
	width: 100%;
	height: 300px;
}

.textop {
	width: 100%;
	margin-top:-10px;
	padding:10px 15px;
	background-color: white;
}

.video {
	width: 100%;
	
}

.buscar, form {
	border-radius: 5%;
}

input {
	width: 85%;
	padding: 10px;
	margin:30px;
	border-radius: 7%;
}

.derecha {
	width: 40%;
	background-color:#EBF7FB;
	margin:2%;
	display: block;	 
}

i {
	color: blue;
	padding:10px;
	border-radius:50%;
	margin-right: 20px;
	background-color: white;
	display:block;
}
.conejito2, .conejito3 {
	width: 100%;
	height: 200px;
	
}

.marron .pblanco {
	background-color:#EBF7FB;
	display: block;
}
.pblanco h6{
	color: #F65D60;
}
.pblanco .textop p{
	color:black;
}
h3 {
	margin-top: 2px ;
	margin-bottom:2px;
	color: #F65D60;
	text-align: center;
	font-family: 'Prompt', sans-serif; 
}
iframe{
	max-width: 100%;
}

.año {
	padding-left:5px;
	margin:2px

}
.textop {
	font-size: 13px;
	padding: 3px 10px;
	margin-top:2%;
	font-family: 'Prompt', sans-serif;
	background-color:#EBF7FB;
}
.blanco{
	height: 10px;
}

@media (max-width: 500px) {
	.conejo3 {
		width: 100%;
		height: 100%;
	}
	.col-7 {
		width: 100%;
	}
	.col-5 {
		width: 100%;
	}
}
