html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
a 
{
	text-decoration: none;
}
@font-face{
	font-family: 'Baloo Paaji', cursive;
	font-family: Prompt;
	src: url(https://fonts.googleapis.com/css?family=Baloo+Paaji);
	src:url(https://fonts.googleapis.com/css?family=Prompt:100,200,300,400,500,700);
}

header{
	max-width: 100%;
	height: 100px;
	background-color: #196C86;
	

}

.logo{
	display: block;
	font-family: 'Baloo Paaji', cursive;
}

.blanco{
	font-family: Prompt;
	color: #FFFFFF;
	font-size: 35px;
	display: inline-block;
	margin-left: 3px;
	
}
.rosa{
	font-family: Prompt;
	color: #F65D60;
	font-size: 35px;
	display: inline-block;

}
.menu{
	font-family: Prompt;
	
	text-align: center;
	display: inline-block;
	float: right;
	margin-top: -40px;
	padding: 10px;
}

section {
	width: 100%;
	height: 25%;
}

.conejo1{
	background-image: url(../img/conejo-1.jpg);
	max-width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	margin-left: 12%;
}
.cuadro-central{
	height: 300px;
	width: 60%;
	border:solid 1px #196C86;
	background-color: #196C86;
	padding: 10%;
	margin:0 auto;
}
/*seccion jo*/
#j{
	background:#ffffff;
}
.jcuentos{/*row jo*/
	padding-top: 2%;
	margin-left: 17%;
}

.jcone{
	display: inline-block;
	margin-right: 0;
}

.jcone img{
	max-width: 100%;
	height: 130px;
	float:left;
	margin:auto;
	display: block;
}
.jconejo h5{
	color:#ff7673;
	font-family: Prompt;
}
.jconejo p{
	font-family: Prompt;
	line-height: 160%;
	font-size: 13px;
}
.jconejo{
	text-align: center;
	color: #FFF;
	clear: both;
	/*position:absolute; /*El div será ubicado con relación a la pantalla*/
	left:0px; /*A la derecha deje un espacio de 0px*/
	right:0px; /*A la izquierda deje un espacio de 0px*/
	bottom:0px; /*Abajo deje un espacio de 0px*/
	height:100px; /*alto del div*/
	z-index:0;
	
	background-color: #037f99;
	max-width: 87.3%;
	height: 250px;
	padding: 5% 3% 5% 3%;
}

